<div class="row">
  <h2>Poker</h2>
  <div class="input-group">
    <form role="form">
      <div class="form-group">
        <label for="card1">Card 1</label>
        <input type="text" ng-model="vm.hand.card1" class="form-control" id="card1">
      </div>
      <div class="form-group">
        <label for="card2">Card 2</label>
        <input type="text" ng-model="vm.hand.card2" class="form-control" id="card2">
      </div>
      <div class="form-group">
        <label for="card3">Card 3</label>
        <input type="text" ng-model="vm.hand.card3" class="form-control" id="card3">
      </div>
      <div class="form-group">
        <label for="card4">Card 4</label>
        <input type="text" ng-model="vm.hand.card4" class="form-control" id="card4">
      </div>
      <div class="form-group">
        <label for="card5">Card 5</label>
        <input type="text" ng-model="vm.hand.card5" class="form-control" id="card5">
      </div>
      <button type="submit" ng-click="vm.getHand(vm.hand)" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <h2>Result</h2>
  <div>{{vm.name}}</div>
</div>

<div ng-repeat="player in vm.players" class="row">
  <h2>{{ player.name }}</h2>
</div>
