<div class="row">
  <h2>Table</h2>
  <div class="input-group">
    <form role="form">
      <div>Player: {{vm.name}}</div>
      <div>
        <span>Community Card 1: {{vm.community[0]}}</span>
        <span>Community Card 2: {{vm.community[1]}}</span>
        <span>Community Card 3: {{vm.community[2]}}</span>
        <span>Community Card 4: {{vm.community[3]}}</span>
        <span>Community Card 5: {{vm.community[4]}}</span>
      </div>
      <div>
        <span>Card 1: {{vm.pocket[0]}}</span>
        <span>Card 2: {{vm.pocket[1]}}</span>
      </div>
      <button type="submit" ng-click="vm.fold()" class="btn btn-default">Fold</button>
      <button type="submit" ng-click="vm.call()" class="btn btn-default">Call</button>
    </form>
  </div>
</div>
