<div class="view-table">
  <div class="actions">
    <div class="actions__wrap">
      <div class="actions__stash">
        stash
      </div>
      <div class="actions__group">
        <p class="actions__label">Available Actions</p>
        <a class="actions__item btn btn--check" href="">Check</a>
        <a class="actions__item btn btn--bet" href="">Bet</a>
        <a class="actions__item btn btn--fold" href="">Fold</a>
      </div>
      <div class="actions__placeholder"></div>
    </div>
  </div>
  <div class="table">
    <div class="table__community">
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
    </div>
    <div class="table__pocket">
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/s1.png" alt="">
      </div>
    </div>
    <div class="player">
      <div class="player__seat player__seat--0 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr0.png" alt="">
        <p class="player__cash">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--l1 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr1.png" alt="">
        <p class="player__cash">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--l2 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr2.png" alt="">
        <p class="player__cash">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--l3">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr3.png" alt="">
        <p class="player__cash is-front">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--l4">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr4.png" alt="">
        <p class="player__cash is-front">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--5">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr5.png" alt="">
        <p class="player__cash is-front">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--r1 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr6.png" alt="">
        <p class="player__cash">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--r2 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr7.png" alt="">
        <p class="player__cash">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--r3">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr8.png" alt="">
        <p class="player__cash is-front">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
      <div class="player__seat player__seat--r4">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr9.png" alt="">
        <p class="player__cash is-front">
          <img class="icon-chips" src="images/table/icon-chips.png" alt=""> $1000
        </p>
      </div>
    </div>
    <img class="table__base "src="images/table/table.png">
  </div>
</div>

<!-- <div class="row">
  <h2>Table</h2>
  <div class="input-group">
    <form role="form">
      <div>Player: {{vm.name}}</div>
      <div>
        <span>Community Card 1: {{vm.community[0]}}</span>
        <span>Community Card 2: {{vm.community[1]}}</span>
        <span>Community Card 3: {{vm.community[2]}}</span>
        <span>Community Card 4: {{vm.community[3]}}</span>
        <span>Community Card 5: {{vm.community[4]}}</span>
      </div>
      <div>
        <span>Card 1: {{vm.pocket[0]}}</span>
        <span>Card 2: {{vm.pocket[1]}}</span>
      </div>
      <button type="submit" ng-click="vm.fold()" class="btn btn-default">Fold</button>
      <button type="submit" ng-click="vm.call()" class="btn btn-default">Call</button>
    </form>
  </div>
</div>
 -->
