<div class="view-table">
  <div class="table">
    <div class="table__community">
      <div class="table__card">
        <img src="images/cards/{{vm.community[0]}}.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/{{vm.community[1]}}.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/{{vm.community[2]}}.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/{{vm.community[3]}}.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/{{vm.community[4]}}.png" alt="">
      </div>
    </div>
    <div class="table__pocket">
      <div class="table__card">
        <img src="images/cards/{{vm.pocket[0]}}.png" alt="">
      </div>
      <div class="table__card">
        <img src="images/cards/{{vm.pocket[1]}}.png" alt="">
      </div>
    </div>
    <div class="player">
      <div class="player__seat player__seat--0 is-front">
        <h3 class="player__name">{{vm.name}}</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--l1 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--l2 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--l3">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--l4">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--5">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--r1 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--r2 is-front">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--r3">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
      <div class="player__seat player__seat--r4">
        <h3 class="player__name">Player</h3>
        <img class="player__avatar" src="images/avatars/pr-vice.png" alt="">
        <div class="player__cash">
          $1000
        </div>
      </div>
    </div>
    <img class="table__base "src="images/table/table.png">
  </div>
</div>

<a class="btn btn--fold" ng-click="vm.fold()">Fold</a>
<a class="btn btn--call" ng-click="vm.call()">Call</a>

<!-- <div class="row">
  <h2>Table</h2>
  <div class="input-group">
    <form role="form">
      <div>Player: {{vm.name}}</div>
      <div>
        <span>Community Card 1: {{vm.community[0]}}</span>
        <span>Community Card 2: {{vm.community[1]}}</span>
        <span>Community Card 3: {{vm.community[2]}}</span>
        <span>Community Card 4: {{vm.community[3]}}</span>
        <span>Community Card 5: {{vm.community[4]}}</span>
      </div>
      <div>
        <span>Card 1: {{vm.pocket[0]}}</span>
        <span>Card 2: {{vm.pocket[1]}}</span>
      </div>
      <button type="submit" ng-click="vm.fold()" class="btn btn-default">Fold</button>
      <button type="submit" ng-click="vm.call()" class="btn btn-default">Call</button>
    </form>
  </div>
</div>
 -->
